<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enter profile</h4>
        </div>
        <div class="modal-body">
	        <%= form_tag("/login", method: "post") do %>
				<div class = "panel-heading">
					<%= label_tag(:login, "Login:") %>
					<%= text_field_tag(:login) %>
				</div>
				<div class = "panel-body">
					<%= label_tag(:password, "Password:") %>
					<%= password_field_tag(:password)%>
				</div>
				<div class = "panel-body">
					<%= submit_tag("Enter", :class => 'btn btn-primary')%>
					<%= link_to 'Registration', new_user_path %>
				</div>
			<% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        </div>
      </div>
      
    </div>
  </div>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>