<div class="row">
  <div class="col-sm-2">
    some text
  </div>
  <div class="col-sm-8">
		<%if @users.size < 2 %>
			<% @users[0].records.each do |record| %>
				<div class="panel panel-primary">
          <div class="panel-heading">
            <h4><b><%= record.theme %></b></h4>
          </div>
          <div class="panel-body">
            <%= record.body %>            
          </div>
          <div>
            <div class="row">
              <div class="col-sm-9">Pэ
                <%= record.rating %>                
              </div>
              <div class="col-sm-3">
                <%= link_to 'Show', record %>
                <%= link_to 'Edit', edit_record_path(record) %>
                <%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        </div>
			<% end %>
		<% end %>
	</div>
  <div class="col-sm-2">
    some text 2
  </div>
</div>