<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions panel panel-success">
    <div class="panel-heading">
      <%= label_tag(:theme, "Theme:") %>
      <%= f.text_field :theme, :class => 'form-control'%>
    </div>
    <div class="panel-body">
      <%= label_tag(:body, "Body:") %>
      <%= f.text_area :body, :class => 'form-control'%>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <%= link_to 'Back', records_path, :class => 'btn btn-danger'%>
      </div>
      <div class="col-sm-2">
        <%= f.submit :class => 'btn btn-primary'%>
      </div>
    </div>
  </div>
<% end %>
